.heading-line {
    height: 1px;
    width: 80vw;
    background-color: black;
}

.heading-line-white {
    height: 1px;
    width: 80vw;
    background-color: white;
}

.fawn {
    background-color: rgb(240, 220, 130);
}

.dblue {
    background-color: rgb(0, 33, 55);
}

.ybrown {
    background-color: rgb(149, 80, 12);
}

.brown {
    background-color: brown;
}